# 데이터 수집 방법:

# 다운로더 기능을 구현하여 개별 기업 주가 정보 데이터셋 503개 다운로드

In [2]:
# 보안을 위해 사용한 API키는 생략함
ALPHA_VINTAGE_API_KEY = 'your Alpha Vantage API Key'

In [2]:
function = 'TIME_SERIES_WEEKLY'
# ticker = 'AMZN'
# csv = 'csv'

In [3]:
import pandas as pd

# S&P500 기업 정보 데이터 불러오기
sp500 = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

# 필요한 열 선택하기
sp500 = sp500[['Symbol', 'Security']]

# 열 이름 변경하기
sp500 = sp500.rename(columns={'Symbol': 'Ticker', 'Security': 'Company'})

# 데이터프레임 출력하기
sp500

    Ticker               Company
0      MMM                    3M
1      AOS           A. O. Smith
2      ABT                Abbott
3     ABBV                AbbVie
4      ACN             Accenture
..     ...                   ...
498    YUM           Yum! Brands
499   ZBRA    Zebra Technologies
500    ZBH         Zimmer Biomet
501   ZION  Zions Bancorporation
502    ZTS                Zoetis

[503 rows x 2 columns]

In [4]:
def makeBatch(df, batch_size=50):
    bucket = []
    num_batch = len(df) // batch_size
    for n_th in range(num_batch+1):
        if (n_th+1)*batch_size < len(df):
            df_batch = df.iloc[n_th*batch_size: (n_th+1)*batch_size]
        else:
            df_batch = df.iloc[n_th*batch_size: ]
        bucket.append(df_batch)
    return bucket

In [5]:
list_batches = makeBatch(sp500)

In [6]:
# 배치 하나당 50개 기업
# 작업 단위 더 작게 자르려면 뒤에 [0:10] 등 써서 슬라이싱할 것
list_batches[0]

   Ticker                          Company
0     MMM                               3M
1     AOS                      A. O. Smith
2     ABT                           Abbott
3    ABBV                           AbbVie
4     ACN                        Accenture
5    ATVI              Activision Blizzard
6     ADM                              ADM
7    ADBE                       Adobe Inc.
8     ADP                              ADP
9     AAP               Advance Auto Parts
10    AES                  AES Corporation
11    AFL                            Aflac
12      A             Agilent Technologies
13    APD       Air Products and Chemicals
14   AKAM                           Akamai
15    ALK                 Alaska Air Group
16    ALB            Albemarle Corporation
17    ARE  Alexandria Real Estate Equities
18   ALGN                 Align Technology
19   ALLE                         Allegion
20    LNT                   Alliant Energy
21    ALL                         Allstate
22  GOOGL          Alphabet Inc. (Class A)
23   GOOG          Alphabet Inc. (Class C)
24     MO                           Altria
25   AMZN                           Amazon
26   AMCR                            Amcor
27    AMD                              AMD
28    AEE                           Ameren
29    AAL          American Airlines Group
30    AEP          American Electric Power
31    AXP                 American Express
32    AIG     American International Group
33    AMT                   American Tower
34    AWK             American Water Works
35    AMP             Ameriprise Financial
36    ABC                AmerisourceBergen
37    AME                           Ametek
38   AMGN                            Amgen
39    APH                         Amphenol
40    ADI                   Analog Devices
41   ANSS                            Ansys
42    AON                              Aon
43    APA                  APA Corporation
44   AAPL                       Apple Inc.
45   AMAT                Applied Materials
46   APTV                            Aptiv
47   ACGL               Arch Capital Group
48   ANET                  Arista Networks
49    AJG        Arthur J. Gallagher & Co.

In [1]:
import requests
import webbrowser
import time 

def downloadCSV(dfTickers):
    list_tickers = dfTickers['Ticker'].tolist()
    print(f'corps: {list_tickers}')
    
    for t in list_tickers:
        u = f'https://www.alphavantage.co/query?function={function}&symbol={t}&datatype=csv&apikey={ALPHA_VINTAGE_API_KEY}'
        r = requests.get(u)
        webbrowser.open_new_tab(r.url)
        time.sleep(30) # 20초로 해도 5콜/분 한도 초과라 여유있게 30초로 설정

# 아래 주석을 해제하여 개별기업 데이터셋 수집(조회와 저장)

- 1배치 = 50개 기업
- 총 10배치

In [22]:
# downloadCSV(list_batches[0])

corps: ['ALK', 'ALB', 'ARE', 'ALGN', 'ALLE', 'LNT', 'ALL', 'GOOGL', 'GOOG', 'MO', 'AMZN', 'AMCR', 'AMD', 'AEE', 'AAL', 'AEP', 'AXP', 'AIG', 'AMT', 'AWK', 'AMP', 'ABC', 'AME', 'AMGN', 'APH', 'ADI', 'ANSS', 'AON', 'APA', 'AAPL', 'AMAT', 'APTV', 'ACGL', 'ANET', 'AJG']

In [9]:
# downloadCSV(list_batches[1])

In [10]:
# downloadCSV(list_batches[2])

In [11]:
# downloadCSV(list_batches[3])

In [12]:
# downloadCSV(list_batches[4])

In [13]:
# downloadCSV(list_batches[5])

In [14]:
# downloadCSV(list_batches[6])

In [15]:
# downloadCSV(list_batches[7])

In [16]:
# downloadCSV(list_batches[8])

In [17]:
# downloadCSV(list_batches[9])